.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  font-family: 'big-john', 'Open Sans', sans-serif;
  overflow: hidden;

  .modal-main {
    position: fixed;
    background: white;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background;
    padding: 1rem;
    max-height: calc(100vh - 50px);
    overflow: scroll;
    border-radius: 27.5px;

    .modal-close-btn {
      color: $light-red;
      margin-bottom: 5px;
      padding: 10px;
      display: flex;
      background: $accent;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transform: rotate(-5deg);

      &:hover {
        cursor: pointer;
        transition: 0.3s;
        background: $white;
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
