.nav {
  position: absolute;
  height: 100%;
  width: $nav-width;
  background: $background-nav;
  color: $white;
}

.logo {
  margin: 5px;
  rect {
    background-color: $logo-background-color;
    fill: $logo-background-color;
  }
  path,
  polygon {
    background-color: $logo-text-color;
    fill: $logo-text-color;
  }
}

