/*.nav {
  position: absolute;
  height: $nav-height;
  width: $nav-width;
  background: $background-nav;

  a {
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.logo {
  margin: 2px 2rem;

  rect {
    background-color: $logo-background-color;
    fill: $logo-background-color;
  }

  path,
  polygon {
    background-color: $logo-text-color;
    fill: $logo-text-color;
  }

  &:hover {
    cursor: pointer;
  }
}

.always-top-nav {
  position: absolute;
  height: $nav-height-small;
  width: $nav-width-small;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin-right: auto;
    height: 90%;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-btn {
    display: none;
    height: 3rem;
    margin: 2px 2rem;
    filter: brightness(0) invert(100%);
    width: 3rem;
    justify-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-btn.visible {
    transition: 0.5 all;
    display: flex;
  }

  .menu-small {
    display: none;
    top: 50%;
    position: absolute;
    z-index: 10;
    width: 90%;
    height: 20rem;
    background: $background-nav-small;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: $nav-height-small;
    border-radius: 12px;

    & :last-child {
      margin-bottom: 0;
    }
  }

  .menu-small.visible {
    display: flex;
    max-width: 50rem;
  }
}

.c-nav__button-group {
  max-width: 100%;
}

@media only screen and (max-width: 1023px) {
  .nav {
    position: absolute;
    height: $nav-height-small;
    width: $nav-width-small;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-right: auto;
      height: 90%;
    }

    .menu-btn {
      display: none;
      height: 3rem;
      margin: 2px 2rem;
      filter: brightness(0) invert(100%);
      width: 3rem;

      &:hover {
        cursor: pointer;
      }
    }

    .menu-btn.visible {
      transition: 0.5 all;
      display: flex;
    }
  }

  .menu-small {
    display: none;
    top: 50%;
    position: absolute;
    width: 90%;
    height: 20rem;
    background: $background-nav-small;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: $nav-height-small;
    border-radius: 6px;

    & :last-child {
      margin-bottom: 0;
    }
  }

  .menu-small.visible {
    display: flex;
  }
}
*/