.project-list {
  .card {
    background: $white;
    border-radius: 2px;
    display: flex;
    height: 75%;
    margin: 2rem;
    border-radius: 6px;
    color: $dark-green;
    padding: 2rem;
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: center;

    .topImg {
      width: 20rem;
      height: 20rem;
      border-radius: 50px;
      background: #999999;
    }

    .card-title {
      font-family: 'big-john';
      font-size: 2rem;
      margin: 0;
      padding: 0;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &:hover {
      background: $dark-green;
      color: $white;
      transition: 0.5s;
      cursor: pointer;
    }
  }
}
