/*
-------------------------
Colors n shizzle
-------------------------
*/

// original color settings
$blue: #05386b;
$blue-o5: hsla(210, 91%, 22%, 0.5);
$darker-green: #172815;
$dark-green: #379683;
$green: #5cdb95;
$light-green: #8ee4af;
$white: #edf5e1;
$black: #2c3e50;
$gray: #999999;
$primary: $green;
$primary-white: $white;
$primary-black: $black;
$secondary: $blue;
$accent: $dark-green;
$secondary-accent: $darker-green;
$primary-text-color: $white;
$secondary-text-color: $dark-green;
$accent-text-color: $green;

// color settings
$light-red: #fb4e4e;
$black: #23282f;
$white: #fbfbfb;
$primary: $white;
$primary-white: $black;
$accent: rgba($black, 0.5);
$secondary: $black;

// logo
$logo-text-color: $primary;
$logo-background-color: $secondary;

// // badge
// $badge-text-color: #ffffff;
// $badge-default-bg: #2c3e50;
// $badge-info-bg: #3498db;
// $badge-warning-bg: #f1c40f;
// $badge-danger-bg: #e74c3c;
// $badge-success-bg: #2ecc71;
// $badge--line-text: $secondary;
// $badge--line-shadow: $secondary;
// $badge--basic-text: $primary-white;
// $badge--basic-background: $primary-black;

// buttons
$color-gray: $secondary;
$color-black: $primary;
$btn-color: $color-gray;
$btn-background: $primary;
$btn-color-hover: $primary;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

// background
$background-nav-small: rgba($secondary, 0.5);
$background: $primary;
$background-nav: $secondary;
$socials-background--hover: rgba($secondary, 0.5);
$socials-background: $secondary;

// // card
// $card-color-dark: $accent;
// $card-color-light: $primary-white;
// // temporary -----------------------------------------------------------------------------------------------
// $card-color-dark: rgba($secondary, 0.5);
// // temporary -----------------------------------------------------------------------------------------------
// $card-basic-text: $card-color-dark;
// $card-basic-background: $card-color-light;
// $card-basic-background--hover: $card-color-dark;
// $card-basic-text--hover: $card-color-light;
// // temporary -----------------------------------------------------------------------------------------------
// $card-basic-text: rgba($primary, 0.5);
// // temporary -----------------------------------------------------------------------------------------------

// projectpage
$project-card-background: $primary;
$project-card-background--large: $secondary;
$project-background--small: $accent;
$project-card__header-image-background: $primary-white;
$project-card-text: $primary-white;

// homepage
$homepage--basic-text: $primary-white;
$card-basic__image-background: $gray;

// loading
$loading-light: $primary-white;
