@font-face {
  font-family: 'big-john';
  src: url('./BigJohnPRO-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'big-john';
  src: url('./BigJohnPRO-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'big-john';
  src: url('./BigJohnPRO-Light.otf') format('opentype');
  font-weight: lighter;
}
