// body {
//   overflow-x: hidden;
//   color: #fff;
//   font-family: Helvetica;
//   font-size: 200%;
// }
// #homepage {
//   overflow: hidden;
//   white-space: nowrap;
//   overflow-x: hidden;
//   overflow-y: auto;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   display: flex;
//   flex-wrap: no-wrap;
// }
// .pane {
//   flex: 0 0 100vw;
//   height: 100vh;
//   display: flex;
//   position: relative;
//   align-items: center;
//   justify-content: center;
//   background-color: #45ccff;
// }

// .pane:nth-child(4n + 2) {
//   background-color: #49e83e;
// }
// .pane:nth-child(4n + 3) {
//   background-color: #edde05;
// }
// .pane:nth-child(4n + 4) {
//   background-color: #e84b30;
// }
// .pane:last-child {
//   background-color: #45ccff;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0%;
}

#homepage {
  font-size: 0;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: $background;

  & .pane {
    padding-left: $nav-width;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    background: $background;
    color: $white;

    .content {
      height: 100%;
      display: block;
      align-content: center;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      & .title {
        font-family: 'big-john';
        font-size: 5rem;
        margin: 0;
        padding: 0;
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
  }
  & .pane:nth-child(2) {
    background: $accent;
  }
  & .badges {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
  }

  & .about-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    font-size: 1.6rem;
  }
}
