// body {
//   overflow-x: hidden;
//   color: #fff;
//   font-family: Helvetica;
//   font-size: 200%;
// }
// #homepage {
//   overflow: hidden;
//   white-space: nowrap;
//   overflow-x: hidden;
//   overflow-y: auto;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   display: flex;
//   flex-wrap: no-wrap;
// }
// .pane {
//   flex: 0 0 100vw;
//   height: 100vh;
//   display: flex;
//   position: relative;
//   align-items: center;
//   justify-content: center;
//   background-color: #45ccff;
// }

// .pane:nth-child(4n + 2) {
//   background-color: #49e83e;
// }
// .pane:nth-child(4n + 3) {
//   background-color: #edde05;
// }
// .pane:nth-child(4n + 4) {
//   background-color: #e84b30;
// }
// .pane:last-child {
//   background-color: #45ccff;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0%;
}

#homepage {
  font-size: 0;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: $background;

  & .pane {
    padding-left: $nav-width;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    background: $background;
    color: $white;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      & .title {
        font-family: 'big-john';
        font-size: 5rem;
        margin: 0;
        padding: 0;
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      & .content-body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  & .pane:nth-child(2) {
    background: $accent;
  }
  & .badges {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  & .about-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    font-size: 1.6rem;
    margin: 2rem;
  }
}

#projects {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  .project-list {
    display: flex;
  }
}

#working-svg {
  align-self: center;
  min-width: 40rem;
  width: 100px;
}

#home .content {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  #homepage {
    .about-text {
      font-size: 0.7rem;
    }
    .pane .content .title {
      font-size: 3rem;
    }
    .badges .badge,
    .badges .bage--line {
      font-size: 0.7rem;
      padding: 5px;
      border-width: 1px;
      margin: 1rem;
      margin-top: 6.5rem;
    }
  }

  #working-svg {
    align-self: center;
  }
}

@media only screen and (max-height: 900px) {
  #working-svg {
    min-width: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  #working-svg {
  min-width: 15rem;
  }
}