#homepage {
  font-size: 0;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: $background;

  a {
    text-decoration: none;
  }

  & .pane {
    padding-left: $nav-width;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    background: $background;
    color: $homepage--basic-text;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      & .title {
        font-family: 'big-john';
        font-size: 5rem;
        margin: 0;
        padding: 0;
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      & .content-body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  & .pane:nth-child(2) {
    background: $accent;
  }
  & .badges {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  & .about-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    font-size: 1.6rem;
    margin: 2rem;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 60%;
    white-space: pre-line;
  }
}

#projects {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 100%;
  width: auto;
  .project-list {
    display: flex;
  }
}

#working-svg {
  align-self: center;
  min-width: 40rem;
  width: 100px;
  //  animation: random 5s ease-in-out;

  #working {
    width: 100%;

    // #body {
    //   // animation: kaboom 10s infinite;
    // }

    // #background {
    // }
  }
}
@keyframes kaboom {
  0% {
    transform: translate(-90%);
  }
  100% {
    // transform: scale(1.1);
  }
}
@keyframes random {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}

#home .content {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  #homepage {
    .about-text {
      font-size: 0.7rem;
    }
    .pane .content .title {
      font-size: 3rem;
    }
    .badges .badge,
    .badges .bage--line {
      font-size: 0.7rem;
      padding: 5px;
      border-width: 1px;
      margin: 1rem;
      margin-top: 6.5rem;
    }
  }

  #working-svg {
    align-self: center;
  }
}

@media only screen and (max-height: 900px) {
  #working-svg {
    min-width: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  #working-svg {
    min-width: 15rem;
  }
}

@media only screen and (max-width: 1023px) {
  #homepage {
    & .pane {
      padding-left: 0;
      padding-top: $nav-height-small;
    }
  }
}
