#p-project {
  min-height: 100%;
  background: $background;
  display: flex;

  .p-project__container {
    padding: $nav-height-small 10% 5%;
    min-height: 100%;

    .p-project__card {
      background: $project-card-background;
      border-radius: 50px;
      width: 100%;

      .p-project__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p-project__header-image__container {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .p-project__header-image {
            background: $project-card__header-image-background;
            border-radius: 50px;
            max-width: 30%;
            border: 5px solid $project-card__header-image-background;
          }
        }

        .p-project__header-title {
          font-weight: bold;
          font-family: 'big-john';
          font-size: 5rem;
          margin: 0;
          padding: 0;
          margin-top: 2.5rem;
          margin-bottom: 1rem;
          color: $project-card-text;
        }

        .p-project__header-subtitle {
          font-weight: bold;
          font-family: 'big-john';
          font-size: 1.2rem;
          margin: 0;
          padding: 0;
          margin-bottom: 1.5rem;
          color: $project-card-text;
        }
      }
      .p-project__body {
        color: $project-card-text;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        line-height: normal;
        font-size: 1.6rem;
        margin: 2rem;
        padding: 0 2rem 4rem;
      }
      .p-project__socials {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        div {
          display: flex;
          text-align: center;
          flex-direction: row;
          align-items: center;

          img {
            filter: brightness(0) invert(100%);
          }
        }
      }
      .p-project__socials__title {
        margin-top: 5rem;
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  #p-project {
    background: $project-background--small;
    .p-project__container {
      padding: 0;
      padding-top: $nav-height-small;

      .p-project__card {
        border-radius: 0;
        .p-project__header {
          .p-project__header-title {
            font-size: 3rem;
          }
        }
        .p-project__body {
          margin: 0;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  #p-project {
    background: $project-card-background--large;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #p-project {
    .p-project__container {
      .p-project__card {
        padding-top: 3rem;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #p-project {
    .p-project__container {
      padding-left: 15%;
      padding-right: 15%;
      .p-project__card {
        padding-top: 5rem;
      }
    }
  }
}
